In [5]:
import numpy as np
import pandas as pd

### Problem 1: 
#### Letâ€™s start by getting a look at the data. After reading it in, look at the dimensions, variable types, and take a look at the top 5 rows.

In [17]:
wnba = pd.read_csv("wnba_24.csv")
print("dimensions:", wnba.shape, "\n")
print("variable types:")
print(wnba.dtypes, "\n")
print("top 5 rows:")
print(wnba.head(5))

dimensions: (5388, 10)

variable types:
game_date                object
athlete_id                int64
athlete_display_name     object
team_name                object
minutes                 float64
points                  float64
starter                    bool
did_not_play               bool
active                     bool
opponent_team_name       object
dtype: object

top 5 rows:
    game_date  athlete_id athlete_display_name team_name  minutes  points  \
0  2024-09-19     2529130       Natasha Howard     Wings     33.0    13.0
1  2024-09-19     4281929        Satou Sabally     Wings     32.0    25.0
2  2024-09-19     4399415       Maddy Siegrist     Wings     34.0    12.0
3  2024-09-19     3916514         Kalani Brown     Wings     27.0    13.0
4  2024-09-19     4432865         Jacy Sheldon     Wings     27.0     4.0

   starter  did_not_play  active opponent_team_name
0     True         False   False               Aces
1     True         False   False               Aces
2     True         False    True               Aces
3     True         False    True               Aces
4     True         False   False               Aces